@using GNForm3C_.Areas.MST_Hospital.Models;
@using GNForm3C_.BAL;
@{
    ViewData["Title"] = "Hospital List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Hospital</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a asp-controller="Home" asp-action="Index" class="text-muted text-hover-primary"><i class="bi bi-house"></i> Home</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item fw-bolder">Hospital</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
        <!--begin::Actions-->
        <div class="d-flex align-items-center fw-bold">
            <!--begin::Secondary button-->
            <a class="@CommonVariables.AddBtnColor" asp-area="MST_Hospital" asp-controller="MST_Hospital" asp-action="Add">
                @* <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>  *@
                <span class="fw-bold"><i class="fa fa-plus fa-2x"></i> Add Hospital</span>
            </a>
            <!--end::Secondary button-->
            <!--begin::Primary button-->
            <!--end::Primary button-->
        </div>
        <!--end::Actions-->
    </div>
    <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
        <div class="card">
            <div class="card-body p-5 px-lg-10 py-lg-7">
                <!--begin::Heading-->
                <div>
                    <!--begin::Title-->
                    <span>
                        <h3 class="fs-x text-dark mb-6">
                            <svg style="position: relative;top:-3px;"
                                 xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                            SEARCH
                        </h3>
                    </span>
                    <!--end::Title-->
                    <hr />
                    <div class="">
                        <partial name="_filterHospital" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Content-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0">
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                        <!--begin::Title-->
                        <h3 class="text-dark align-middle mt-5 mt-md-5">
                            <img src="@CommonVariables.HospitalListLogo" width="30" height="30" />
                            <span style="position:absolute;margin-top:7px;padding-left:5px;" class="text-dark align-middle">HOSPITAL LIST</span>
                        </h3>
                        <!--end::Title-->
                    </div>
                    <!--end::Toolbar-->
                </div>
                <!--end::Card toolbar-->
                <!--begin::Card title-->
                <div class="card-title">
                    <div class="d-flex">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                            <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <input type="text" data-kt-ecommerce-order-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search Hospital" />
                        </div>
                        <!--end::Search-->
                        <!--begin::Download Excel-->
                        @if (ViewBag.HospitalList.Count != 0)
                        {
                            <div style="padding-left:10px;">
                                <button class="btn btn-success" id="exportBtn">
                                    <i class="fa-solid fa-file-excel fa-5x"></i> <span style="position:relative;top:1px;">Export</span>
                                </button>
                            </div>
                        }
                        <!--end::Download Excel-->
                    </div>
                </div>
                <!--begin::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <hr />
                <!--begin::Table-->
                <table class="table table-row-dashed fs-6 gy-3 Freeze-Table" id="kt_ecommerce_report_customer_orders_table">
                    <thead>
                        <!--begin::Table row-->
                        <tr class="text-start text-dark fw-bold fs-4 gs-0">
                            <th class="min-w-250px">@CommonVariables.HospitalNamelabel</th>
                            <th class="min-w-250px">@CommonVariables.PrintNameHospitallabel</th>
                            <th class="min-w-200px">@CommonVariables.PrintLine1label</th>
                            <th class="min-w-200px">@CommonVariables.PrintLine2label</th>
                            <th class="min-w-200px">@CommonVariables.PrintLine3label</th>
                            <th class="min-w-200px">@CommonVariables.HeaderNamelabel</th>
                            <th class="min-w-200px">@CommonVariables.FooterNamelabel</th>
                            @* <th class="min-w-100px">@CommonVariables.Modified</th> *@
                            <th class="min-w-200px text-center ">@CommonVariables.Actionlabel</th>
                        </tr>
                    </thead>
                    <tbody class="fw-semibold text-dark-600 font-weight-normal">
                        @foreach (MST_HospitalModel dr in ViewBag.HospitalList)
                        {
                            <tr>
                                <td>@dr.Hospital</td>
                                <td>@dr.PrintName</td>
                                <td>@dr.PrintLine1</td>
                                <td>@dr.PrintLine2</td>
                                <td>@dr.PrintLine3</td>
                                <td>@dr.ReportHeaderName</td>
                                <td>@dr.FooterName</td>
                                @* <td>@Convert.ToDateTime(dr.Modified).ToString("dd-MM-yyyy")</td> *@
                                <td class="text-center">
                                    <a id="ShowDetails" data-id="@CommonFunctions.EncryptBase64(dr.HospitalID.ToString())"
                                       data-bs-toggle="tooltip" data-bs-placement="right"
                                       data-bs-title="View" class="fs-1 cursor-pointer" style="position:relative;top:5px;">
                                        <i class="fa-regular fa-file fa-sm"></i>
                                    </a>
                                    <a class=" cursor-pointer text-primary"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="left" data-bs-title="Edit"
                                       asp-area="MST_Hospital" asp-controller="MST_Hospital" asp-action="Add" asp-route-HospitalID="@CommonFunctions.EncryptBase64(dr.HospitalID.ToString())">
                                        @* <i class="fa-regular fa-pen-to-square fa-sm"></i> *@
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                        </svg>
                                    </a>
                                    @* <a class=" cursor-pointer text-danger"
                                data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-title="Delete"
                                asp-area="MST_Hospital" asp-controller="MST_Hospital" asp-action="Delete" asp-route-HospitalID="@CommonFunctions.EncryptBase64(dr.HospitalID.ToString())" onclick="return confirm('Are You sure delete it!!!')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22"
                                height="22" fill="currentColor" class="bi bi-trash3"
                                viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>
                                </a> *@
                                    <a class="cursor-pointer text-danger"
                                       data-bs-toggle="tooltip" data-bs-placement="right"
                                       data-bs-title="Delete"
                                       onclick="confirmDelete('@CommonFunctions.EncryptBase64(dr.HospitalID.ToString())')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22"
                                             height="22" fill="currentColor" class="bi bi-trash3"
                                             viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!--end::Table-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Content container-->
</div>
<!--end::Content-->
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //Modal Box Open Close Ajax Call
            $("tr td #ShowDetails, #ShowDetails").on('click', function () {
                var HospitalID = $(this).data("id");
                $.ajax({
                    url: '/MST_Hospital/HospitalDetail',
                    type: 'GET',
                    data: { HospitalID: HospitalID },
                    success: function (data) {
                        $("#ModalBox").html(data);
                        $('#hospitalDetails').modal('show');
                    },
                    error: function (error) {
                        console.error('Error loading income data:', error);
                    }
                });
            });
        });
    </script>

    <script type="text/javascript">
        function confirmDelete(hospitalID) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Proceed with the delete action
                    window.location.href = '/MST_Hospital/Delete?HospitalID=' + hospitalID;
                }
            });
        }
    </script>
}