@using GNForm3C_.Areas.ACC_Income.Models;
@model GNForm3C_.Areas.ACC_Income.Models.ACC_IncomeModel;
@using GNForm3C_.BAL;
<form method="post">
    <div class="d-flex row">

        <!--begin::Input group-->
        <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-6 col-md-6 fv-row">
                <select class="form-select form-select-solid" data-control="select2" asp-for="HospitalID" asp-items="@(new SelectList(ViewBag.HospitalDropDown,"HospitalID","Hospital"))" disabled>
                </select>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-6 col-md-6 fv-row">
                <select class="form-select form-select-solid" data-control="select2" asp-for="FinYearID" asp-items="@(new SelectList(ViewBag.FinYearDropDown,"FinYearID","FinYearName"))">
                    <option value="">Select Fin.Year</option>
                </select>
                <span class="text-danger field-validation-error" asp-validation-for="FinYearID"></span>
            </div>
            <!--end::Col-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-6 col-md-6 fv-row">
                <select class="form-select form-select-solid" data-control="select2" asp-for="IncomeTypeID" asp-items="@(new SelectList(ViewBag.IncomeTypeDropDown,"IncomeTypeID","IncomeType"))">
                    <option value="">Select Income Type</option>
                </select>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-6 col-md-6 fv-row">
                <!--begin::Input-->
                <input type="text" asp-for="Amount" class="form-control form-control-solid" id="amountInput" placeholder="Enter Amount" autocomplete="off" />
                <!--end::Input-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Input group-->

        <div class="col-lg-4">
            <button type="submit" class="@CommonVariables.searchbtncolor"
                    style="margin-right:15px;" asp-area="ACC_Income" asp-controller="ACC_Income" asp-action="Index">
                <span class="indicator-label">Search</span>
            </button>
            <button type="submit" class="@CommonVariables.clearbtncolor me-3"
                    asp-area="ACC_Income" asp-controller="ACC_Income" asp-action="Clear">
                <span class="indicator-label">Clear</span>
            </button>
        </div>
    </div>
</form>
@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
