@using GNForm3C_.Areas.ACC_Receipt.Models;
@using GNForm3C_.BAL;
@model GNForm3C_.Areas.ACC_Receipt.Models.ACC_ReceiptModel;

<!--begin::Table-->
<table class="table align-middle table-row-dashed fs-6 gy-3 table-responsive table-responsive-md " id="kt_ecommerce_report_customer_orders_table">
    <thead>
        <!--begin::Table row-->
        <tr class="text-start text-dark fw-bold fs-5 ">
            <th class="">@CommonVariables.Actionlabel</th>
            <th class="min-w-250px">@CommonVariables.HospitalNamelabel</th>
            <th class="min-w-125px">@CommonVariables.Treatmentlabel</th>
            <th class="min-w-125px">@CommonVariables.PatientNamelabel</th>
            <th class="min-w-150px">@CommonVariables.ReceiptTypelabel</th>
            <th class="min-w-125px">@CommonVariables.ReceiptDatelabel</th>
            <th class="min-w-125px">@CommonVariables.Amountlabel</th>
            <th class="min-w-100px">@CommonVariables.AdvanceAmountlabel</th>
            <th class="min-w-125px">@CommonVariables.NetAmountlabel</th>
            <th class="min-w-150px">@CommonVariables.AdmissionDatelabel</th>
            <th class="min-w-150px">@CommonVariables.DischargeDatelabel</th>
            <th class="min-w-100px">@CommonVariables.TotalDayslabel</th>
            <th class="min-w-125px">@CommonVariables.FinancialYearNamelabel</th>
            <th class="min-w-125px">@CommonVariables.ReceiptNolabel</th>
            <th class="min-w-125px">@CommonVariables.SerialNolabel</th>
            <th class="min-w-80px">@CommonVariables.Remarklabel</th>
            <th class="min-w-100px">@CommonVariables.Modified</th>
        </tr>
    </thead>
    <tbody class="fw-semibold text-dark-600 font-weight-normal">
        @foreach(ACC_ReceiptModel dr in ViewBag.ReceiptsList)
        {
            <tr>
                <td>
                    <a onclick="ShowDetails(this)" data-url="/ACC_Receipt/ReceiptDetail" data-name="#receiptDetails" id="@dr.TransactionID"
                       data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="View" class="fs-1 cursor-pointer" style="position:relative;top:5px;">
                        <i class="fa-regular fa-file fa-sm"></i>
                    </a>
                </td>
                <td>@dr.Hospital</td>
                <td>@dr.Treatment</td>
                <td>@dr.Patient</td>
                <td>@dr.ReceiptTypeName</td>
                <td>@dr.Date.ToString("dd-MM-yyyy")</td>
                <td>@dr.Amount</td>
                <td>@dr.Deposite</td>
                <td>@dr.NetAmount</td>
                <td>@dr.DateOfAdmission</td>
                <td>@dr.DateOfDischarge</td>
                <td>@dr.NoOfDays</td>
                <td>@dr.FinYearName</td>
                <td>@dr.ReceiptNo</td>
                <td>@dr.SerialNo</td>
                <td>@dr.Remarks</td>
                <td>@dr.Modified.ToString("dd-MM-yyyy")</td>
            </tr>
        }
    </tbody>
</table>
<!--end::Table-->
