@using System.Data;
@model GNForm3C_.Models.Viewmodel.DataTable_ViewModel;
@using GNForm3C_.BAL;

@{
    ViewData["Title"] = "Dashboard";
}
<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Dashboard</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <i class="bi bi-house"></i> <span style="margin-left:3px;">Home</span>
                </li>
                <!--end::Item-->

            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->

    </div>
    <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
        @foreach(DataRow dr1 in Model.DataTable1.Rows)
        {
            <!--begin::Row-->
            <div class="row g-5 g-xl-8">
                <div class="col-xl-3">
                    <!--begin::Statistics Widget 5-->
                    <a asp-area="MST_Hospital" asp-controller="MST_Hospital" asp-action="Index" class="card bg-primary hoverable card-xl-stretch mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body">
                            <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
                            <span class="d-flex">
                                <img alt="Logo" class="" width="45" height="45" src="@CommonVariables.HospitalDashboardLogo" />
                                <div class="text-white fw-bold fs-2 mb-2 mt-4 mx-5">Hospitals</div>

                            </span>
                            <p class="text-light count-text" style="font-size:2.4rem; position:relative;left:10px;">
                                <span id="hospitalCounter">@dr1["Hospital_Count"]</span>
                            </p>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Body-->
                    </a>
                    <!--end::Statistics Widget 5-->
                </div>
                <div class="col-xl-3">
                    <!--begin::Statistics Widget 5-->
                    <a asp-area="MST_Treatment" asp-controller="MST_Treatment" asp-action="Index" class="card bg-warning hoverable card-xl-stretch mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body">
                            <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
                            <span class="d-flex">
                                <img alt="Logo" class="text-white" width="45" height="45" src="@CommonVariables.TreatmentDashboardLogo" />
                                <div class="text-white fw-bold fs-2 mb-2 mt-4 mx-5">Treatments</div>

                            </span>
                            <p class="text-light count-text" style="font-size:2.4rem; position:relative;left:10px;">
                                <span id="treatmentCounter">@dr1["Treatment_Count"]</span>
                            </p>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Body-->
                    </a>
                    <!--end::Statistics Widget 5-->

                </div>
                <div class="col-xl-3">
                    <!--begin::Statistics Widget 5-->
                    <a asp-area="ACC_Income" asp-controller="ACC_Income" asp-action="Index" class="card bg-success hoverable card-xl-stretch mb-5 mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body">
                            <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
                            <span class="d-flex">
                                <img alt="Logo" class="text-white" width="50" height="50" src="@CommonVariables.IncomeDashboardLogo" />
                                <div class="text-white fw-bold fs-2 mb-2 mt-4 mx-5">Incomes</div>

                            </span>
                            <p class="text-light count-text" style="font-size:2.4rem; position:relative;left:10px;">
                                ₹ <span id="incomeCounter">@dr1["Income_Count"]</span>
                            </p>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Body-->
                    </a>
                    <!--end::Statistics Widget 5-->
                </div>
                <div class="col-xl-3">
                    <!--begin::Statistics Widget 5-->
                    <a asp-area="ACC_Expense" asp-controller="ACC_Expense" asp-action="Index" class="card bg-danger hoverable card-xl-stretch mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body">
                            <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
                            <span class="d-flex">
                                <img alt="Logo" class="text-white" width="50" height="50" src="@CommonVariables.ExpenseDashboardLogo" />
                                <div class="text-white fw-bold fs-2 mb-2 mt-4 mx-5">Expenses</div>

                            </span>
                                <p class="text-light count-text" style="font-size:2.4rem; position:relative;left:10px;">
                                    ₹ <span id="expenseCounter">@dr1["Expense_Count"]</span>
                                </p>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Body-->
                    </a>
                    <!--end::Statistics Widget 5-->
                </div>
            </div>
            <!--end::Row-->
        }

        <!---------- Hospital & Treatment Recent Add start ---------->

        <div class="mt-3">
            <div class="row">
                <div class="col-6">
                    <div class="card recent-sales">

                        <div class="card-body">

                            <div class="card-title d-flex align-middle" style="align-items:center;justify-content:center;">
                                <h3 class="fs-x text-dark mt-2">
                                    <img src="~/Theme//assets/media/svg/recent-svgrepo-com.svg" height="18" width="18" />

                                    Recently Added Transaction
                                </h3>
                                <a class="@CommonVariables.addbtncolor text-end   text-light fw-bold" style="color:#444444; margin-left:auto;" asp-area="ACC_Receipt" asp-controller="ACC_Receipt" asp-action="Add" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                                    </svg> Add New 
                                </a>
                            </div>

                            <hr />
                            <div class="overflow-auto">
                                <table class="table table-hover table-striped mt-3 " id="">
                                    <thead>
                                        <tr class="text-start text-dark fw-bold fs-4 gs-0">
                                            <th class="text-center min-w-100px">@CommonVariables.Datelabel</th>
                                            <th class="text-center min-w-100px">@CommonVariables.SerialNolabel</th>
                                            <th class="text-center min-w-150px">@CommonVariables.ReceiptNolabel</th>
                                            <th class="text-center min-w-150px">@CommonVariables.PatientNamelabel</th>
                                            <th class="text-center min-w-125px">@CommonVariables.ReceiptTypelabel</th>
                                            <th class="text-center min-w-150px">@CommonVariables.FinancialYearNamelabel</th>
                                            <th class="text-center min-w-200px">@CommonVariables.HospitalNamelabel</th>
                                            <th class="text-center min-w-80px">@CommonVariables.AdvanceAmountlabel</th>
                                            <th class="text-center min-w-80px">@CommonVariables.Amountlabel</th>
                                            <th class="text-center min-w-150px">@CommonVariables.NetAmountlabel</th>
                                            <th class="text-center min-w-125px">@CommonVariables.Treatmentlabel</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach(DataRow row in Model.DataTableReceipt.Rows)
                                        {
                                            <tr>
                                                @foreach(var cell in row.ItemArray)
                                                {
                                                    <td class="text-center">
                                                        @if(cell is DateTime)
                                                        {
                                                            @(((DateTime)cell).ToShortDateString())
                                                        }
                                                        else
                                                        {
                                                            @cell.ToString()
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <div class="card recent-sales overflow-auto">

                        <div class="card-body">

                            <div class="card-title d-flex align-middle" style="">
                                <h3 class="fs-x text-dark mt-2">
                                    <img src="~/Theme//assets/media/svg/recent-svgrepo-com.svg" height="18" width="18" />

                                    Recently Added Treatment
                                </h3>
                                <a class="@CommonVariables.addbtncolor  text-end   text-light fw-bold" style="color:#444444; margin-left:auto;" asp-area="MST_Treatment" asp-controller="MST_Treatment" asp-action="Add" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                                    </svg> Add New
                                </a>
                            </div>
                            <hr />
                            <table class=" table table-hover table-striped mt-3" id="">
                                <thead>
                                    <tr class="text-start text-dark fw-bold fs-4 gs-0">
                                        <th class="text-center">@CommonVariables.Treatmentlabel</th>
                                        <th class="text-center">@CommonVariables.Remarklabel</th>
                                        <th class="text-center">@CommonVariables.HospitalNamelabel</th>
                                        <th class="text-center min-w-125px">@CommonVariables.Modified Date</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach(DataRow row in Model.DataTableTreatment.Rows)
                                    {
                                        <tr>
                                            @foreach(var cell in row.ItemArray)
                                            {
                                                <td class="text-center">
                                                    @if(cell is DateTime)
                                                    {
                                                        @(((DateTime)cell).ToShortDateString())
                                                    }
                                                    else
                                                    {
                                                        @cell.ToString()
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!---------- Hospital & Treatment Recent Add start ---------->
        <!---------- Income & Expense Recent Add start ---------->
        <div class="mt-3">
            <div class="row">
                <div class="col-6">
                    <div class="card recent-sales overflow-auto">

                        <div class="card-body">
                            <div class="card-title d-flex align-middle" style="">
                                <h3 class="fs-x text-dark mt-2">
                                    <img src="~/Theme//assets/media/svg/recent-svgrepo-com.svg" height="18" width="18" />

                                    Recently Added Income
                                </h3>
                              
                                <a class="@CommonVariables.addbtncolor text-end text-light fw-bold" style="color:#444444; margin-left:auto;" asp-area="ACC_Income" asp-controller="ACC_Income" asp-action="Add" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                                    </svg> Add New
                                </a>
                            </div>
                     
                            <hr />
                            <table class=" table table-hover table-striped mt-3" id="">
                                <thead>
                                    <tr class="text-start text-dark fw-bold fs-4 gs-0">
                                        <th class="text-center">@CommonVariables.HospitalNamelabel</th>
                                        <th class="text-center">@CommonVariables.IncomeTypelabel</th>
                                        <th class="text-center">@CommonVariables.Datelabel</th>
                                        <th class="text-center">@CommonVariables.Amountlabel</th>
                                        @* <th class="text-center">Note</th> *@
                                        <th class="text-center min-w-125px">@CommonVariables.FinancialYearNamelabel</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach(DataRow row in Model.DataTableIncome.Rows)
                                    {
                                        <tr>
                                            @foreach(var cell in row.ItemArray)
                                            {
                                                <td class="text-center">
                                                    @if(cell is DateTime)
                                                    {
                                                        @(((DateTime)cell).ToShortDateString())
                                                    }
                                                    else
                                                    {
                                                        @cell.ToString()
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <div class="card recent-sales overflow-auto">

                        <div class="card-body">
                            <div class="card-title d-flex align-middle" style="">
                                <h3 class="fs-x text-dark mt-2">
                                    <img src="~/Theme//assets/media/svg/recent-svgrepo-com.svg" height="18" width="18" />
                                    Recently Added Expense
                                </h3>
                                <a class="@CommonVariables.addbtncolor text-end   text-light fw-boldd" style="color:#444444; margin-left:auto;" asp-area="ACC_Expense" asp-controller="ACC_Expense" asp-action="Add" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                                    </svg> Add New
                                </a>
                            </div>
                            <hr />
                            <table class=" table table-hover table-striped mt-3" id="">
                                <thead>
                                    <tr class="text-start text-dark fw-bold fs-4 gs-0">
                                        <th class="text-center">@CommonVariables.HospitalNamelabel</th>
                                        <th class="text-center">@CommonVariables.ExpenseTypelabel</th>
                                        <th class="text-center">@CommonVariables.Datelabel</th>
                                        <th class="text-center">@CommonVariables.Amountlabel</th>
                                        <th class="text-center min-w-125px">@CommonVariables.FinancialYearNamelabel</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach(DataRow row in Model.DataTableExpense.Rows)
                                    {
                                        <tr>
                                            @foreach(var cell in row.ItemArray)
                                            {
                                                <td class="text-center">
                                                    @if(cell is DateTime)
                                                    {
                                                        @(((DateTime)cell).ToShortDateString())
                                                    }
                                                    else
                                                    {
                                                        @cell.ToString()
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!---------- Income & Expense Recent Add End ---------->

    </div>
    <!--end::Content container-->
</div>
<!--end::Content-->
@section scripts{
    
    <script>
        $(document).ready(function () {
            // Function to initialize Counter Up for a given element ID
            function initializeCounter(id) {
                var countValue = parseInt($(id).text().trim());

                if (!isNaN(countValue)) {
                    $(id).text(countValue);
                    $(id).counterUp({
                        delay: 5,
                        time: 1000
                    });
                }
            }

            // Initialize Counter Up for each counter element
            initializeCounter('#hospitalCounter');
            initializeCounter('#treatmentCounter');
            initializeCounter('#incomeCounter');
            initializeCounter('#expenseCounter');
        });
    </script>
    }