@using GNForm3C_.BAL;
@{
    ViewData["Title"] = @TempData["Action"] + " Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GNForm3C_.Areas.ACC_Receipt.Models.ACC_ReceiptModel;

<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Receipt</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a asp-controller="Home" asp-action="Index" class="text-muted text-hover-primary"><i class="bi bi-house"></i> Home</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a asp-area="ACC_Receipt" asp-controller="ACC_Receipt" asp-action="Index" class="text-muted text-hover-primary">Receipt</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item fw-bolder">@TempData["Action"] Receipt</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->



    </div>
    <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--Utla nu chokru Start-->
<form method="post" asp-area="ACC_Receipt" asp-controller="ACC_Receipt" asp-action="Save">

    <div class="col-md-12 container">
        <div id="validatediv" asp-validation-summary="All" class="text-danger"></div>
    </div>

    <!--Utla nu chokru End-->
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-fluid">
            <div class="card">
                <div class="card-body p-5 px-lg-10 py-lg-7">
                    <div>

                        @Html.HiddenFor(x=>x.TransactionID)

                        <div class="row">
                            <div class="mb-8 col-6 col-md-6">
                                <!--begin::Label-->
                                <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="SerialNo">
                                    <span class="text-danger">*</span>@CommonVariables.SerialNolabel
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" data-bs-placement="right" title="used for Serial No"></i>
                                </label>
                                <!--end::Label-->
                                <div class="col-12 col-md-12 ">

                                    <input type="number" readonly asp-for="SerialNo" class="form-control form-control-solid" />
                                </div>
                                <span class="text-danger" asp-validation-for="SerialNo"></span>
                            </div>

                            <div class="mb-8 col-6 col-md-6 ">
                                <!--begin::Label-->
                                <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="Date">
                                    <span class="text-danger">*</span>Entry Date
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" data-bs-placement="right" title="used for select Date"></i>
                                </label>
                                <!--end::Label-->
                                <div class="col-12 col-md-12 ">
                                    <input type="date" class="form-control form-control-solid" asp-for="Date" readonly />
                                </div>
                                <span class="text-danger" asp-validation-for="Date"></span>
                            </div>

                        </div>
                        <!--begin::Input group-->
                        <div class="row">
                            <div class="fv-row mb-8 col-6 col-md-6">
                                <!--begin::Label-->
                                <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="HospitalID">
                                    <span class="text-danger">*</span>@CommonVariables.HospitalNamelabel
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" data-bs-placement="right" title="used for select Hospital"></i>
                                </label>
                                <!--end::Label-->
                                <div class="col-12 col-md-12 fv-row">
                                    <select class="form-select form-select-solid" data-control="select2" asp-for="HospitalID" asp-items="@(new SelectList(ViewBag.HospitalDropDown,"HospitalID","Hospital"))" disabled>
                                    </select>
                                </div>
                                <span class="text-danger" asp-validation-for="HospitalID"></span>
                            </div>

                            <div class="fv-row mb-8 col-6 col-md-6" data-kt-password-meter="true">
                                <!--begin::Label-->
                                <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="ReceiptTypeID">
                                    <span class="text-danger">*</span>@CommonVariables.ReceiptTypelabel
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" data-bs-placement="right" title="used for select Receipt Type"></i>
                                </label>
                                <!--end::Label-->
                                <div class="col-12 col-md-12 fv-row">
                                    <select class="form-select form-select-solid" data-control="select2" asp-for="ReceiptTypeID" asp-items="@(new SelectList(ViewBag.ReceiptTypeDropDown,"ReceiptTypeID","ReceiptTypeName"))">
                                        <option value="">Select Receipt Type</option>
                                    </select>
                                </div>
                                <span class="text-danger" asp-validation-for="ReceiptTypeID"></span>
                            </div>
                        </div>
                        <!--end::Input group-->
                        <div class="row">
                            <!--begin::Input Hospital group-->
                            <div class="d-flex flex-column mb-8 fv-row">
                                <!--begin::Label-->
                                <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="Patient">
                                    <span class="text-danger">*</span>@CommonVariables.PatientNamelabel
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" data-bs-placement="right" title="Used For Enter Patient Name"></i>
                                </label>
                                <!--end::Label-->
                                <input type="text" class="form-control form-control-solid" asp-for="Patient" placeholder="Enter Patient Name" autocomplete="off" />
                                <span class="text-danger" asp-validation-for="Patient"></span>
                            </div>
                            <!--end::Input Hospital group-->
                        </div>
                        <!--begin::Input group-->
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-8 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="TreatmentID">
                                <span class="text-danger">*</span>@CommonVariables.Treatmentlabel
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" data-bs-placement="right" title="Used For Select Treatment"></i>
                            </label>
                            <!--end::Label-->
                            <div class="col-12 col-md-12 fv-row">
                                <select class="form-select form-select-solid" data-control="select2" asp-for="TreatmentID" asp-items="@(new SelectList(ViewBag.TreatmentDropDown,"TreatmentID","Treatment"))">
                                    <option value="">Select Treatment</option>
                                </select>
                            </div>
                            <span class="text-danger field-validation-error" asp-validation-for="TreatmentID"></span>
                        </div>
                        <!--end::Input group-->
                        <div class="row">

                            <div class="fv-row mb-8 col-6 col-md-6" data-kt-password-meter="true">
                                <!--begin::Label-->
                                <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="Amount">
                                    <span class="text-danger">*</span>@CommonVariables.Amountlabel
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" data-bs-placement="right" title="used for Enter Amount"></i>
                                </label>
                                <!--end::Label-->
                                <div class="col-12 col-md-12 fv-row">
                                    <input type="text" asp-for="Amount" class="form-control form-control-solid" id="amountInput" placeholder="Enter Amount" autocomplete="off" />
                                </div>
                                <span class="text-danger" asp-validation-for="Amount"></span>
                            </div>


                            <div class="fv-row mb-8 col-6 col-md-6" data-kt-password-meter="true">
                                <!--begin::Label-->
                                <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="ReceiptNo">
                                    <span class="text-danger">*</span>@CommonVariables.ReceiptNolabel
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" data-bs-placement="right" title="used for Receipt No"></i>
                                </label>
                                <!--end::Label-->
                                <div class="col-12 col-md-12 fv-row">
                                    <input type="number" readonly asp-for="ReceiptNo" class="form-control form-control-solid" />

                                </div>
                                <span class="text-danger" asp-validation-for="ReceiptNo"></span>
                            </div>

                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-8 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="Remarks">
                                @CommonVariables.Remarklabel
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" data-bs-placement="right" title="it accepts only Remarks"></i>
                            </label>
                            <!--end::Label-->
                            <textarea class="form-control form-control-solid" asp-for="Remarks" placeholder="Enter Remarks" autocomplete="off"></textarea>
                        </div>



                        <div class="mb-8">
                            <button type="submit" class="btn btn-primary" style="margin-right:5px;" onclick="fn1()">
                                <span class="indicator-label">Submit</span>
                            </button>
                            <a type="submit" class="btn btn-light me-3" asp-area="ACC_Receipt" asp-controller="ACC_Receipt" asp-action="Index">
                                Back to List
                            </a>
                            <button type="button" class="btn btn-success me-3" id="showDetailsBtn" onclick="toggleDetails()">
                                Show Details
                            </button>
                        </div>
                        <!--end::Actions-->

                        <div id="detailsContainer" style="display:none;">
                            <!--end::Input group-->
                            <div class="row">
                                <div class="mb-8 col-6 col-md-6">
                                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="DateOfAdmission">
                                        @CommonVariables.AdmissionDatelabel
                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" data-bs-placement="right" title="used for select Date"></i>
                                    </label>
                                    <div class="col-12 col-md-12">
                                        <input type="date" class="form-control form-control-solid" asp-for="DateOfAdmission" id="dateOfAdmission" />
                                    </div>
                                </div>

                                <div class="mb-8 col-6 col-md-6">
                                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="DateOfDischarge">
                                        @CommonVariables.DischargeDatelabel
                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" data-bs-placement="right" title="used for select Date"></i>
                                    </label>
                                    <div class="col-12 col-md-12">
                                        <input type="date" class="form-control form-control-solid" asp-for="DateOfDischarge" id="dateOfDischarge" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="fv-row mb-8 col-4 col-md-4" data-kt-password-meter="true">
                                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="NoOfDays">
                                        @CommonVariables.TotalDayslabel
                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" data-bs-placement="right" title="used for Enter No. Of Days"></i>
                                    </label>
                                    <div class="col-12 col-md-12 fv-row">
                                        <input type="number" asp-for="NoOfDays" class="form-control form-control-solid" id="noOfDays" readonly />
                                    </div>
                                </div>

                                <div class="fv-row mb-8 col-4 col-md-4" data-kt-password-meter="true">
                                    <!--begin::Label-->
                                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="Deposite">
                                        @CommonVariables.AdvanceAmountlabel
                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" data-bs-placement="right" title="used for Enter Advance"></i>
                                    </label>
                                    <!--end::Label-->
                                    <div class="col-12 col-md-12 fv-row">
                                        <input type="text" name="deposit" id="advanceInput" asp-for="Deposite" class="form-control form-control-solid" />
                                    </div>
                                    <span class="text-danger" asp-validation-for="Deposite"></span>
                                </div>


                                <div class="fv-row mb-8 col-4 col-md-4" data-kt-password-meter="true">
                                    <!--begin::Label-->
                                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="NetAmount">
                                        @CommonVariables.NetAmountlabel
                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" data-bs-placement="right" title="used for Net Amount"></i>
                                    </label>
                                    <!--end::Label-->
                                    <div class="col-12 col-md-12 fv-row">
                                        <input type="text" name="netAmount" id="netAmountInput" asp-for="NetAmount" class="form-control form-control-solid" readonly />
                                    </div>
                                </div>
                            </div>
                            <!--begin::Actions-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @* Script For Validation Button Background *@
    <script>
        function fn1() {
            document.getElementById("validatediv").classList = "alert alert-danger";
        }
    </script>

    @* Script For Hide Details Button And Show Details Button *@
    <script>
        function toggleDetails() {
            var detailsContainer = document.getElementById("detailsContainer");
            var showDetailsBtn = document.getElementById("showDetailsBtn");

            if (detailsContainer.style.display === "none") {
                detailsContainer.style.display = "block";
                showDetailsBtn.innerText = "Hide Details";
            } else {
                detailsContainer.style.display = "none";
                showDetailsBtn.innerText = "Show Details";
            }
        }
    </script>

    @* Script For No of Days Count *@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the date input elements
            var dateOfAdmissionInput = document.getElementById('dateOfAdmission');
            var dateOfDischargeInput = document.getElementById('dateOfDischarge');

            // Get the NoOfDays input element
            var noOfDaysInput = document.getElementById('noOfDays');

            // Function to calculate the difference in days
            function calculateDays() {
                var dateOfAdmission = new Date(dateOfAdmissionInput.value);
                var dateOfDischarge = new Date(dateOfDischargeInput.value);

                // Calculate the difference in days
                var differenceInDays = Math.ceil((dateOfDischarge - dateOfAdmission) / (1000 * 60 * 60 * 24));

                // Update the NoOfDays input
                noOfDaysInput.value = differenceInDays > 0 ? differenceInDays : 0;
            }

            // Add event listeners to date input elements
            dateOfAdmissionInput.addEventListener('change', calculateDays);
            dateOfDischargeInput.addEventListener('change', calculateDays);
        });
    </script>

    @* Script For Amount Deposit And Net Amount *@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the input elements
            var amountInput = document.getElementById('amountInput');
            var advanceInput = document.getElementById('advanceInput');
            var netAmountInput = document.getElementById('netAmountInput');

            // Add an event listener to the input element for input event
            amountInput.addEventListener('input', function (event) {
                // Get the entered value
                var enteredValue = amountInput.value;

                // Remove any non-numeric characters and allowed symbols
                amountInput.value = enteredValue.replace(/[^0-9]/g, '');
            });

            // Add an event listener to the input element for input event
            advanceInput.addEventListener('input', function (event) {
                // Get the entered value
                var enteredValue = advanceInput.value;

                // Remove any non-numeric characters and allowed symbols
                advanceInput.value = enteredValue.replace(/[^0-9]/g, '');
            });
            // Function to calculate net amount
            function calculateNetAmount() {
                // Get numeric values from the input fields
                var amount = parseInt(amountInput.value) || 0;
                var advanceAmount = parseInt(advanceInput.value) || 0;

                // Ensure advance amount is not greater than amount
                if (advanceAmount > amount) {
                    Swal.fire({
                        icon: "warning",
                        title: "Warning...",
                        text: "Advance Amount can not be greater than the total amount!",
                    });
                    advanceAmount = amount;
                    advanceInput.value = advanceAmount;
                }

                // Calculate net amount
                var netAmount = amount - advanceAmount;

                // Ensure net amount is not negative
                netAmount = Math.max(netAmount, 0);

                // Update the Net Amount field
                netAmountInput.value = isNaN(netAmount) ? '' : netAmount.toFixed(0);
            }

            // Add event listeners to amount and advance amount input elements
            amountInput.addEventListener('input', calculateNetAmount);
            advanceInput.addEventListener('input', calculateNetAmount);
        });
    </script>


}