@using GNForm3C_.Areas.MST_SubTreatment.Models;
@using GNForm3C_.BAL;
@{
    ViewData["Title"] = "Sub Treatment List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Sub Treatment</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a asp-controller="Home" asp-action="Index" class="text-muted text-hover-primary"><i class="bi bi-house"></i> Home</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item fw-bolder">Sub Treatment</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
        <!--begin::Actions-->
        <div class="d-flex align-items-center fw-bold">
            <!--begin::Secondary button-->
            <a class="@CommonVariables.addbtncolor" asp-area="MST_SubTreatment" asp-controller="MST_SubTreatment" asp-action="Add">
                @* <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>  *@
             
                <span class="fw-bold"><i class="fa fa-plus fa-2x"></i> Add Sub Treatment</span>
            </a>
            <!--end::Secondary button-->
            <!--begin::Primary button-->
            <!--end::Primary button-->
        </div>
        <!--end::Actions-->
    </div>
    <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->

<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
        <div class="card">
            <div class="card-body p-5 px-lg-10 py-lg-7">
                <!--begin::Heading-->
                <div>
                    <!--begin::Title-->
                    <span>
                        <h3 class="fs-x text-dark mb-6">
                            <svg style="position: relative;top:-3px;"
                                 xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                            SEARCH
                        </h3>
                    </span>
                    <!--end::Title-->
                    <hr />
                    <div class="">
                        <partial name="_filterSubTreatment" />


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Content-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0">
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                        <!--begin::Title-->
                        <h3 class="text-dark align-middle mt-5 mt-md-5">
                            <img src="@CommonVariables.SubTreatmentListLogo" width="28" height="28" />
                            <span style="position:absolute;margin-top:4px;padding-left:10px;" class="text-dark align-middle">SUB TREATMENT LIST</span>
                        </h3>
                        <!--end::Title-->
                    </div>
                    <!--end::Toolbar-->
                </div>
                <!--end::Card toolbar-->
                <!--begin::Card title-->
                <div class="card-title">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <input type="text" data-kt-ecommerce-order-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search Sub Treatment" />
                    </div>
                    <!--end::Search-->
                </div>
                <!--begin::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <hr />
                <!--begin::Table-->
                <table class="table table-row-dashed fs-6 gy-3" id="kt_ecommerce_report_customer_orders_table">
                    <thead>
                        <!--begin::Table row-->
                        <tr class="text-start text-dark fw-bold fs-4 gs-0">
                            <th class="min-w-180px">@CommonVariables.SubTreatmentlabel</th>
                            <th class="min-w-150px">@CommonVariables.SequenceNolabel</th>
                            <th class="text-center min-w-50px">@CommonVariables.Ratelabel</th>
                            <th class="text-center min-w-240px">@CommonVariables.AutoLoadinReceiptlabel?</th>
                            <th class="text-center min-w-100px">@CommonVariables.ChargePerDaylabel?</th>
                            <th class="min-w-50px">@CommonVariables.Remarklabel</th>
                            <th class="min-w-100px">@CommonVariables.HospitalNamelabel</th>
                            <th class="min-w-50px">@CommonVariables.Unitlabel</th>
                            <th class="min-w-50px">@CommonVariables.Created</th>
                            <th class="min-w-50px">@CommonVariables.Modified</th>
                            <th class="text-center">@CommonVariables.Actionlabel</th>
                        </tr>
                    </thead>
                    <tbody class="fw-semibold text-dark-600 font-weight-normal" >
                        @foreach (MST_SubTreatmentModel dr in ViewBag.SubTreatmentList)
                        {
                            <tr>
                                <td class="min-w-180px">@dr.SubTreatmentName</td>
                                <td class="min-w-150px">@dr.SequenceNo</td>
                                <td class="text-center min-w-50px">@dr.Rate</td>
                                <td class="text-center min-w-230px">
                                    @if (dr.IsInGrid == true)
                                    {
                                        <h1 class="badge badge-light-success badge-circle fw-normal fs-6">Yes</h1>

                                    }
                                    else
                                    {
                                        <h1 class="badge badge-light-danger badge-circle fw-normal fs-6">No</h1>
                                    }
                                </td>
                                <td class="text-center min-w-100px">
                                        @if (dr.IsPerDay == true)
                                        {
                                        <h1 class="badge badge-light-success badge-circle fw-normal fs-6">Yes</h1>

                                        }
                                        else
                                        {
                                        <h1 class="badge badge-light-danger badge-circle fw-normal fs-6">No</h1>
                                        }
                                </td>

                                <td class="min-w-50px">@dr.Remarks</td>
                                <td class="min-w-100px">@dr.Hospital</td>
                                <td class="min-w-50px">@dr.DefaultUnit</td>
                                <td class="min-w-50px">@Convert.ToDateTime(dr.Created).ToString("dd-MM-yyyy")</td>
                                <td class="min-w-50px">@Convert.ToDateTime(dr.Modified).ToString("dd-MM-yyyy")</td>
                                <td class="text-center">
                                    <a class="text-decoration-none text-primary edit-button" style="padding-right:1px;"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="left" data-bs-title="Edit"
                                       asp-area="MST_SubTreatment" asp-controller="MST_SubTreatment" asp-action="Add" asp-route-SubTreatmentID="@CommonFunctions.EncryptBase64(dr.SubTreatmentID.ToString())">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                             height="20" fill="currentColor"
                                             class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </a>
                                    <a class="text-decoration-none text-danger"
                                       data-bs-toggle="tooltip" data-bs-placement="right"
                                       data-bs-title="Delete"
                                       asp-area="MST_SubTreatment" asp-controller="MST_SubTreatment" asp-action="Delete" asp-route-SubTreatmentID="@CommonFunctions.EncryptBase64(dr.SubTreatmentID.ToString())" onclick="return confirm('Are You sure delete it!!!')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                             height="20" fill="currentColor" class="bi bi-trash3"
                                             viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                        </svg>
                                    </a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <!--end::Table-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Content container-->
</div>
<!--end::Content-->
